* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  --font-color-primary: #ffffff;
  --font-color-secondary: #edf2f4;
  --backup-font-color: #000000;

  --background-color-primary: #c5d1eb;
  --background-color-secondary: #92afd7;
  --backup-background-primary: #5a7684;
  --backup-background-secondary: #395b50;

  line-height: 1.6;
}

.hero h1 {
  font-size: 3em;
  margin: 0;
}

/* start of header section styling */

header {
  height: 530px; /* Set the height of the header element to 560 pixels */

  background-color: var(--backup-background-secondary);
  background-size: cover; /* Cover the entire background area with the image */
  background-position: center; /* Center the background image */
}

header img {
  display: flex;
  transform-origin: center center;
  position: absolute;
  border-radius: 100%;
  width: 10%;
  height: 20%;
  transform: translateX(440%) translateY(50px);
  background-color: white; /* Add this line */
  padding: 5px; /* Add padding for some space around the image */


}

header .hero {
  display: flex; /* Enable flexbox layout for the .hero class */
  flex-direction: column; /* Arrange elements vertically within the .hero container */

  /* Center items both vertically and horizontally within the .hero container */
  justify-content: center;
  align-items: center;

  height: 70%; /* Set the height of the .hero container to 70% of the header's height */
  text-align: center; /* Center text within the .hero container */
  transform: translateY(10%);
}

header #title {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; /* Convert text to uppercase */
  text-align: center; /* Center text horizontally */
  font-weight: 400; /* Set font weight to 400 (normal weight) */
  font-size: 3rem; /* Set font size to 3rem */
  margin-bottom: 4px; /* Add bottom margin */
  color: var(--font-color-primary);
  display: flex; /* Enable flexbox layout for the #title element */
  flex-direction: column; /* Arrange elements vertically within the #title element */
  justify-content: center; /* Center items vertically within the #title element */
  letter-spacing: 2px; /* Add letter spacing */
  height: 50%; /* Set the height of the #title element to 100% */
}

header #subtitle {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; /* Convert text to uppercase */
  text-align: center; /* Center text horizontally */
  color: var(--font-color-secondary);
  letter-spacing: 2px; /* Add letter spacing */
  font-weight: 400; /* Set font weight to 400 (normal weight) */
  font-size: 1.25rem; /* Set font size to 1.25rem */
}

/* end of header */

/* start of hero section styling */

/* Shared styles for dynamically loaded sections */
.about-section,
.education-section,
.experience-section {
  padding: 2rem;
  margin: auto;
  height: 500px;
  display: flex;
  width: 800px; /* Set a maximum width for better control */
  flex-direction: column;
  border-radius: none;

}

.about-section h2,
.education-section h2,
.experience-section h2 {
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
}

.content-details p {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
}

.content-details h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

/* Separator line styling */
hr.solid {
  border-radius: 5px;
  border: none; /* Removes any border */
  border-top: 5px solid #5a7684; /* Adds the desired top border */
  margin: 0; /* Removes any default margin */
  width: 5%; /* Adjust the width as needed */
}

/* Styling for button container */
.button-container {
  position:absolute;
  margin-top: 20px; /* Add space between content and buttons */
  display:flex;
  flex-direction: row; /* Stack buttons vertically */
  gap: 15px; /* Add space between buttons */
  align-items: center; /* Center buttons horizontally within the container */
  justify-content: center;
  top: 950px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;

}

/* Styling for circular buttons */
.circle-button {
  width: 20px;
  height: 20px;
  background-color: var(--backup-background-secondary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.circle-button:hover {
  background-color: var(--backup-background-primary);
  transform: scale(1.1);
}

/* end of hero section styling */
/* start of skills stying */

.skills-section {
  padding: 40px 375px; /* Set padding around the section */
  margin: auto; /* Center the section horizontally */
  height: 660px; /* Set the height of the section */
  background-color: rgba(50, 49, 136, 0.2);
  flex-direction: column; /* Center items vertically within the section */
  justify-content: center;
  align-items: center; /* Center items horizontally within the section */
  text-align: center; /* Center text within the section */
  display: flex; /* Enable flexbox layout for the section */
  background-color: var(--background-color-secondary);
}

.skills {
  margin-bottom: 135px;
  display: flex; /* Enable flexbox layout for the skills container */
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  gap: 20px; /* Add space between items */
  justify-content: space-around; /* Distribute space evenly between items */
}

.item {
  /* Define the flex-grow, flex-shrink, and flex-basis properties */
  flex: 1 1 calc(25% - 20px);
  border: none; /* Add a border to the item */
  padding: 20px; /* Add padding inside the item */
  text-align: center; /* Center text within the item */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  background-color: var(
    --background-color-primary
  ); /* Set the background color */
  color: rgb(255, 255, 255); /* Set the text color to white */
  font-size: 3rem; /* Set the font size */
  width: 420px; /* Set the width of the item */
  height: 120px; /* Set the height of the item */
}

.left {
  margin-top: 100px;
  width: 20px; /* Set the width of the '.left' class */
  text-transform: uppercase; /* Convert text to uppercase */
  font-size: 1.5rem; /* Set font size to 3rem */
  margin-bottom: 4px; /* Add bottom margin */
  color: var(--font-color-primary);
  display: flex; /* Enable flexbox layout for the #title element */
  flex-direction: column; /* Arrange elements vertically within the #title element */
  letter-spacing: 5px; /* Add letter spacing */
}

/* Solid border */
hr.solid {
  border-radius: 5px;
  border: none; /* Removes any border */
  border-top: 5px solid #5a7684; /* Adds the desired top border */
  margin: 0; /* Removes any default margin */
  width: 5%; /* Adjust the width as needed */
}

/* end of skills section */
/* start of footer */

footer {
  height: 60vh;
  background-color: var(--backup-background-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*
    align-items: center;
    */
  padding: 7% 7%;
  background-position: cover;
  background-size: 140%;
}

.start {
  
  position:absolute;
  display:flex;
  align-items: center;
  justify-content:space-around;
  background-color: var(--backup-background-primary);
  padding: 2rem;
  border-radius: 15px;
  width: 70%;
  height: 10%;
  top: 200%;
  left: 15%; /* adjusting absolute positioning values relative to the parent i.e. the footer*/



}

footer .start h4 {
  color: var(--font-color-primary);
  text-align: center; /* Center the heading */

}

footer .start p {
  font-size: 13px;
  width: 35%;
  color: var(--font-color-primary);
  text-align: center; /* Center the heading */
}

footer .start button {
  border: 1px solid var(--font-color-primary);
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 100px;
  transition: all 0.3s ease;
  text-align: center; /* Center the heading */
}

footer button {
  color: var(--backup-font-color);
  text-align: center; /* Center the heading */
}

footer .start button:hover {
  background-color: var(--font-color-primary);
}

footer .left-side {
  width: 50%;
  justify-content: center;
  align-items: center; /* Center items horizontally within the section */
  text-align: center; /* Center text within the section */
}

footer h5 {
  letter-spacing: 2px; /* Add letter spacing */

  font-weight: 400;
  font-size: 4.5rem;
  margin-bottom: 3%;
  color: var(--font-color-primary);
}

footer p {
  color: var(--font-color-secondary);
  
}

footer .left-side .socials {
  margin-top: 8%;
    letter-spacing: 2px; /* Add letter spacing */

}

footer a {
  text-decoration: none;
  color: var(--font-color-secondary);
  transition: color 0.3s ease;

}

footer .left-side .socials a:hover {
  color: var(--background-color-primary);
}

footer .left-side .socials a i {
  font-size: 2rem;
  
}

/* end of footer styling */

/* start of media styling */


@media (max-width: 768px) { 
  /* Styles for smaller screens */
  .about-section,
  .education-section,
  .experience-section {
    padding: 1rem; 
  }
}